<%- include('header'); -%>

<h1>Thsi ia a about page fotu aoerjdifsj</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis reiciendis, eveniet nostrum saepe illum neque, iure voluptate nam, animi dolore eaque. Similique sequi animi, adipisci cum libero neque debitis!</p>

<%- include('footer'); -%>